.radical-view {
    min-height: calc(100vh - 80px);
}

.divisor::before {
    content: "";

    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;

    top: 50%;
    left: 0;

    transform: translateY(50%);

    border-radius: 6px;
}

.radical-tag, .kanji-tag, .vocabulary-tag, .reading-tag {
    @apply py-[2px] px-1 rounded-md text-white font-bold shadow-[inset_0_-13px_0_-10px] whitespace-nowrap;
}
.radical-tag {
    @apply  bg-card-radical shadow-card-radical-dark;
}

.kanji-tag {
    @apply  bg-card-kanji  shadow-card-kanji-dark;
}

.vocabulary-tag {
    @apply  bg-card-vocabulary shadow-card-vocabulary-dark ;
}

.reading-tag {
    @apply  bg-slate-700 shadow-slate-800 ;
}


blockquote {
    @apply bg-gray-200 px-5 py-4 my-3 text-gray-800 text-sm rounded-md shadow-sm relative pt-14;
}

blockquote::before,
blockquote::after {
    @apply ring-[3px] ring-gray-700 text-gray-700 text-xs py-1 px-2 rounded-md;
    content: "HINTS";
}

blockquote::before {
    @apply left-[26px] top-[18px] bg-sky-200 text-transparent absolute;

}

blockquote::after {
    @apply font-bold font-grotesk text-xs ml-1 absolute left-4 top-3 bg-gray-200;
}