.radical-view {
    min-height: calc(100vh - 80px);
}

body {
    background-color: #f5f5f5 !important;
    padding-top: 60px;
}



.radical-tag, .kanji-tag, .vocabulary-tag, .reading-tag {
    border-radius: 3px;
    padding: 2px 6px;
    /* font-weight: bold; */
    color: white;
    white-space: nowrap;
}
.radical-tag {
    /* @apply  bg-card-radical shadow-card-radical-dark; */
    background-color: #3182CE
}

.kanji-tag {
    /* @apply  bg-card-kanji  shadow-card-kanji-dark; */
    background-color: #DC5E9E;
}

.vocabulary-tag {
    /* @apply  bg-card-vocabulary shadow-card-vocabulary-dark ; */
    background-color: #805AD5;
}

.reading-tag {
    /* @apply  bg-slate-700 shadow-slate-800 ; */
    background-color: darkslategray;
}


blockquote {
    position: relative;
    background: white;
    box-shadow: 0 6px 20px #00000017;
    margin-top: 18px !important;
    padding: 0.8em 0.93em;
    border-radius: 9px;
    padding-top: 2.5em;
}


blockquote::before {
    top: 9px;
    left: 15px;
    background-color: dimgray;
    color: white;
    border-radius: 6px;
    padding: 0 6px;
    position: absolute;
    content: "HINTS";
    font-size: 12px;
    font-weight: bold;
}
